* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

<<<<<<< HEAD
.title {
  text-align: center;
  font-weight: 800;
  font-size: 34px;
  padding: 90px 0px 20px 0px;
}

.text {
  margin: 0 auto;
=======
.content-title {
  font-size: 38px;
  color: #00bcd4;
  font-weight: 600;
>>>>>>> 5c5d8698c622321d944acc81f445bfc4f13943f3
  text-align: center;
  max-width: 450px;
  font-size: 18px;
  line-height: 1.5;
}

.header {
<<<<<<< HEAD
  height: 100vh;
=======
  height: 80vh;
>>>>>>> 5c5d8698c622321d944acc81f445bfc4f13943f3
  width: 100%;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}

.bg {
<<<<<<< HEAD
  background-color: rgba(61, 61, 61, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.header-content-location {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  text-align: center;
=======
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.header-content {
>>>>>>> 5c5d8698c622321d944acc81f445bfc4f13943f3
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
<<<<<<< HEAD
}

.header-content__arrow {
  position: absolute;
  top: 360px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
=======
  padding-top: 125px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-content__profile-photo {
  margin: 45px 0px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-content__profile-photo .img {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-color: green;
>>>>>>> 5c5d8698c622321d944acc81f445bfc4f13943f3
}
.header-content__arrow i {
  font-size: 20px;
}

.header-content__greeting {
  font-size: 24px;
}
.header-content__specialty {
  padding: 20px 0px 30px 0px;
  font-weight: 800;
  font-size: 44px;
}
.header-content__company {
  font-size: 20px;
}

<<<<<<< HEAD
@media (max-width: 320px) {
  .header-content__greeting {
    font-size: 22px;
  }

  .header-content__specialty {
    font-size: 34px;
  }

  .header-content__company {
    font-size: 16px;
  }
}
.menu {
  padding: 20px 0px;
}

.menu-content-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-content-nav__name {
  font-size: 20px;
}
.menu-content-nav nav ul li {
  display: inline;
  margin-right: 40px;
  font-size: 16px;
}
.menu-content-nav nav ul li a {
  text-decoration: none;
  color: #000;
}
.menu-content-nav nav ul li:last-child {
  margin: 0px;
}

@media (max-width: 320px) {
  .menu-content-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-content-nav__name {
    font-size: 20px;
    display: none;
  }
  .menu-content-nav nav ul {
    text-align: center;
    width: 100px;
    line-height: 1.5;
  }
  .menu-content-nav nav ul li {
    font-size: 16px;
    margin: 0px;
  }
  .menu-content-nav nav ul li a {
    text-decoration: none;
    color: #000;
  }
}
.line {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background: rgba(135, 135, 135, 0.5);
  width: 100%;
  height: 1px;
  margin-bottom: 40px;
}

.doing {
  background-color: #f5f5f5;
  position: relative;
  padding-bottom: 100px;
}
.line-doing {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background: rgba(135, 135, 135, 0.5);
  width: 100px;
  height: 1px;
}

.doing-content-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.doing-content-container .doing-content-container-item {
  background-color: #fff;
  width: 250px;
  height: 230px;
  text-align: center;
  border-radius: 5px;
}
.doing-content-container .doing-content-container-item__icon {
  font-size: 30px;
  margin: 50px 0px 30px 0px;
}
.doing-content-container .doing-content-container-item__title {
  font-weight: 800;
  margin-bottom: 30px;
}
.doing-content-container .doing-content-container-item__text {
  line-height: 1.5;
}

@media (max-width: 320px) {
  .doing-content-container .doing-content-container-item {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 25px;
  }
}
.works {
  padding-bottom: 120px;
}

.works-content-items {
=======
.header-content__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-content__info-text {
  color: #fff;
  width: 340px;
  margin-bottom: 15px;
  line-height: 1.8em;
  letter-spacing: 1px;
  color: #c5c2c2;
  font-size: 1em;
}
.header-content__info-text h3 {
  font-size: 3em;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.header-content__info-contacts {
  color: #fff;
}
.header-content__info-contacts ul li {
  font-weight: 600;
  margin-bottom: 15px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 10px;
}

.my-projects__content-blocks {
>>>>>>> 5c5d8698c622321d944acc81f445bfc4f13943f3
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
<<<<<<< HEAD
  margin-top: 80px;
}
.works-content-items .works-content-item {
  width: 300px;
  height: 200px;
  background-color: green;
}

@media (max-width: 320px) {
  .works-content-item {
    margin: 0 auto;
    width: 290px;
    height: 200px;
    background-color: green;
    margin-bottom: 30px;
  }
}
.my-skills {
  width: 100%;
  background-color: #f5f5f5;
}

.contact {
  margin-bottom: 100px;
}

.container-form {
  margin-top: 30px;
}

.postcard {
  max-width: 500px;
  margin: 0 auto;
}

.form-row {
  margin-bottom: 15px;
}

.form-row input[type=text],
.form-row input[type=email],
.form-row textarea {
  width: 100%;
  padding: 0px 10px;
  line-height: 35px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.form-row textarea {
  background-attachment: local;
  background-repeat: repeat;
  resize: none;
}

.form-row-btn input[type=submit] {
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(17, 17, 17, 0.8);
  padding: 10px 80px;
  font-size: 16px;
  border-radius: 5px;
=======
}

.my-projects__content-block__wrapper {
  border: 1px solid #eee;
  width: 320px;
  height: 300px;
  padding: 5px;
}
.my-projects__content-block__wrapper__img {
  background-color: green;
  width: 100%;
  height: 100%;
}

@media (max-width: 320px) {
  .my-projects__content-block__wrapper {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: text;
        -ms-flex-align: text;
            align-items: text;
  }
}
.footer {
  background-color: black;
  padding: 70px 0px;
>>>>>>> 5c5d8698c622321d944acc81f445bfc4f13943f3
}

.form-row-btn input[type=submit]:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background: #000;
}

.form-row-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
<<<<<<< HEAD

.footer {
  width: 100%;
  background-color: #1a1d22;
  padding: 20px 0px;
=======
.footer-content__block {
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
>>>>>>> 5c5d8698c622321d944acc81f445bfc4f13943f3
}
.footer .footer-content .footer-content-icons {
  color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-content__icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
<<<<<<< HEAD
.footer-content__icon i {
  font-size: 14px;
}
.footer-content__icon:last-child {
  margin: 0px;
=======
.footer-content__block-icons-text {
  font-size: 16px;
  color: #768491;
  cursor: pointer;
}

.footer-pos {
  padding-top: 40px;
  color: #fff;
  text-align: center;
}

@media (max-width: 320px) {
  .footer-content {
    display: block;
  }
>>>>>>> 5c5d8698c622321d944acc81f445bfc4f13943f3
}