* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 20px;
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  padding: 90px 0px 20px 0px;
}

.text {
  margin: 0 auto;
  text-align: center;
  max-width: 450px;
  font-size: 18px;
  line-height: 1.5;
}

.header {
  height: 100vh;
  width: 100%;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  background-attachment: fixed;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(61, 61, 61, 0.7);
}

.header-content-location {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header-content__greeting p {
  font-size: 16px;
}

.header-content__specialty h1 {
  font-weight: 800;
  font-size: 34px;
}

.header-content__company p {
  font-size: 16px;
}

.header-content__photo {
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("../img/ava.jpg");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 1px solid #fff;
}

.freelanceProjects {
  width: 100%;
  height: 250px;
  background-image: url("../img/freelance-projects.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.freelanceProjects-content {
  text-align: center;
}
.freelanceProjects-content__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.freelanceProjects-content__text {
  font-size: 20px;
}
.freelanceProjects-content a {
  text-decoration: none;
  color: #000;
}
.freelanceProjects-content__btn {
  padding: 10px 0px;
  background-color: #fff;
  width: 120px;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 35px;
}

.freelanceProjects-bg {
  background-color: rgba(61, 61, 61, 0.7);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 320px) {
  .freelanceProjects-content {
    text-align: center;
  }
  .freelanceProjects-content__title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .freelanceProjects-content__text {
    font-size: 14px;
  }
  .freelanceProjects-content a {
    text-decoration: none;
    color: #000;
  }
  .freelanceProjects-content__btn {
    padding: 10px 0px;
    background-color: #fff;
    width: 120px;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 35px;
  }

  .freelanceProjects {
    width: 100%;
    height: 200px;
  }
}
.doing {
  background-color: #f5f5f5;
  position: relative;
  padding-bottom: 100px;
}

.line-doing {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background: rgba(135, 135, 135, 0.5);
  width: 100px;
  height: 1px;
}

.doing-content-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.doing-content-container .doing-content-container-item {
  background-color: #fff;
  width: 250px;
  height: 230px;
  text-align: center;
  border-radius: 5px;
}
.doing-content-container .doing-content-container-item__icon {
  font-size: 30px;
  margin: 50px 0px 30px 0px;
}
.doing-content-container .doing-content-container-item__title {
  font-weight: 800;
  margin-bottom: 30px;
}
.doing-content-container .doing-content-container-item__text {
  line-height: 1.5;
}

@media (max-width: 320px) {
  .doing {
    background-color: #f5f5f5;
    position: relative;
    padding-bottom: 20px;
  }

  .doing-content-container {
    margin-top: 20px;
  }
  .doing-content-container .doing-content-container-item {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1090px) {
  .doing-content-container {
    margin-top: 20px;
  }
  .doing-content-container .doing-content-container-item {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1010px) {
  .doing-content-container {
    margin-top: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .doing-content-container .doing-content-container-item {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 25px;
    margin: 0px 20px 25px 20px;
  }
}
.works {
  padding-bottom: 120px;
}

.works-content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
}
.works-content-items .works-content-item {
  width: 360px;
  height: 230px;
  background-image: url(../img/food.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 320px) {
  .works {
    padding-bottom: 30px;
  }

  .works-content-items {
    margin-top: 40px;
  }
}
.my-skills {
  background-color: #f5f5f5;
  padding-bottom: 100px;
}
.my-skills .skills-bar {
  display: block;
}

.my-skills-content--blog {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-skills-content--blog__photo {
  width: 400px;
  height: 350px;
  background-image: url(../img/ava.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0px 0px 100px 100px;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circleBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
}

.skills_block {
  position: relative;
  width: 100%;
  padding: 0 20px;
  max-width: 700px;
  margin: 0 auto;
}

.skill_name {
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  margin: 20px 0;
}

.skill_bar {
  height: 20px;
  background-color: #cacaca;
  border-radius: 8px;
}

.skill_per {
  position: relative;
  height: 20px;
  background-color: #669cd6;
  border-radius: 8px;
  width: 0;
  -webkit-transition: 2s linear;
  transition: 2s linear;
}

.skill_per .value {
  position: absolute;
  background-color: #fff;
  padding: 4px 6px;
  font-size: 12px;
  color: #000;
  border-radius: 4px;
  right: 0;
  top: -35px;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  opacity: 0;
  -webkit-transition: 4s ease;
  transition: 4s ease;
}

.contact {
  margin-bottom: 100px;
}

.container-form {
  margin-top: 30px;
}

.postcard {
  max-width: 400px;
  margin: 0 auto;
}

.form-row {
  margin-bottom: 15px;
}

.form-row input[type=text],
.form-row input[type=email],
.form-row textarea {
  width: 100%;
  padding: 0px 10px;
  line-height: 35px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.form-row textarea {
  background-attachment: local;
  background-repeat: repeat;
  resize: none;
}

.form-row-btn input[type=submit] {
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(17, 17, 17, 0.8);
  padding: 10px 80px;
  font-size: 16px;
  border-radius: 5px;
}

.form-row-btn input[type=submit]:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background: #000;
}

.form-row-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 320px) {
  .title {
    font-size: 16px;
    padding-top: 30px;
  }

  .text {
    font-size: 14px;
  }

  .contact {
    margin-bottom: 50px;
  }
}
.form-row-btn {
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(17, 17, 17, 0.8);
  padding: 10px 80px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
}
.form-row-btn a {
  color: #fff;
}

.footer {
  width: 100%;
  background-color: #1a1d22;
  padding: 20px 0px;
}
.footer .footer-content .footer-content-icons {
  color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-content__icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-content__icon a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.1);
}
.footer-content__icon i {
  font-size: 14px;
}
.footer-content__icon:last-child {
  margin: 0px;
}

.footer-content__icon:hover {
  -webkit-transition: 2s;
  transition: 2s;
  border: 1px solid #fff;
}
.footer-content__icon:hover i {
  color: #fff;
}

.menu {
  padding: 15px 0px 10px 0px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #fff;
}

.menu-content-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
name .menu-content-nav__name {
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-content-nav nav ul li {
  display: inline;
  margin-right: 40px;
  font-size: 16px;
}
.menu-content-nav nav ul li a {
  text-decoration: none;
  color: #000;
}
.menu-content-nav nav ul li:last-child {
  margin: 0px;
}

@media (max-width: 480px) {
  .menu {
    margin: 0 auto;
  }

  .menu-content-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  .menu-content-nav__name {
    display: none;
  }
  .menu-content-nav nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    text-align: center;
  }
  .menu-content-nav nav ul {
    padding-left: 0;
  }
  .menu-content-nav nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 500;
  }
  .menu-content-nav nav ul li a {
    text-decoration: none;
    color: #000;
  }
  .menu-content-nav nav ul li:last-child {
    margin: 0px;
  }

  .header-content__specialty {
    font-size: 30px;
  }
}
.line {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  background: rgba(135, 135, 135, 0.5);
  width: 100%;
  height: 1px;
  margin-bottom: 40px;
}

@media (max-width: 650px) {
  .menu-content-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .menu-content-nav__name {
    display: none;
  }

  ul {
    padding-left: 0px;
  }
}
@media (max-width: 480px) {
  .menu-content-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .menu-content-nav__name {
    display: none;
  }

  ul {
    padding-left: 0px;
  }
}
.arrowUp {
  position: fixed;
  bottom: 5%;
  right: 3%;
  color: #fff;
  width: 35px;
  height: 35px;
  background-color: rgba(135, 135, 135, 0.5);
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.arrowUp i {
  color: #fff;
}
.arrowUp i:active {
  color: #E7746F;
}