.contact-me {
	padding-bottom: 100px;
	background-image: url(../img/contact.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.contact-me-content__info {
	display: flex;
	justify-content: space-between;
	&-form {
		width: 50%;
		.form {
			width: 100%;
			input[type='text'] {
				width: 100%;
				color: #fff;
				background: none;
				outline: none;
				font-size: 1em;
				padding: 1em 1em;
				margin-bottom: 1em;
				border: solid 1px #fff;
				display: inline-block;
			}
		}
	}
	&-message {
		background-color: transparent;
		resize: none;
		width: 100%;
		background: none;
		color: #999;
		font-size: 1em;
		outline: none;
		padding: 1em 0.8em;
		border: solid 1px #999;
		min-height: 12.5em;
	}
}

.contact-me-content__info- {
}
