.footer {
	background-color: black;
	padding: 70px 0px;
}
.footer-content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	&__block {
		text-align: center;
		color: #fff;
		&-icons {
			color: #fff;
			width: 55px;
			height: 55px;
			background: #fba80c;
			border-radius: 50px;
			align-items: center;
			display: flex;
			justify-content: center;
			margin: 0 auto;
		}
		&-icons-title {
			font-size: 18px;
			margin: 10px 0px;
			font-weight: bold;
		}
		&-icons-text {
			font-size: 16px;
			color: #768491;
			cursor: pointer;
		}
	}
}
