.works {
	padding-bottom: 120px;
}

.works-content-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 80px;
	.works-content-item {
		width: 360px;
		height: 230px;
		background-image: url(../img/food.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}

@media (max-width: 320px) {
	.works {
		padding-bottom: 30px;
	}
	.works-content-items {
		margin-top: 40px;
	}
}
